/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;700;900&family=Space+Mono:wght@400;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common shared styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* header styles */
header{
    background-color: #FF900E1A;
    padding: 50px 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav > ul{
    display: flex;
    gap: 60px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a:hover{
    color: #ff900e;
}

/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding: 100px 0 30px;
}

.banner-description{
    color:#727272;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner img{
    width: 100%;
    margin-top: 50px;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
    gap: 70px;
}

.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}
.teams-title{
    font-size: 2.8rem;
}

.quick-list{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.our{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}

.text-features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-description{
    color:#727272;
    line-height: 26px;
    margin: 25px 0 30px;
}

/* mobile responsive */
@media screen and (max-width: 576px) {
    /* header responsive */
    header{
        padding: 50px;
    }

    nav, nav > ul{
        flex-direction: column;
    }

    nav{
        gap: 20px;
    }

    nav > ul{
        gap: 20px;
    }

    .banner-title{
        font-size: 3rem;
    }
}

/* responsive medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* header responsive */
    header{
        padding: 70px;
    }

    nav{
        flex-direction: column;
        gap: 20px;
    }
}