/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;700;900&family=Space+Mono:wght@400;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common shared styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* header styles */
header{
    background-color: #FF900E1A;
    padding: 50px 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav > ul{
    display: flex;
    gap: 60px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a:hover{
    color: #ff900e;
}

/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    padding: 100px 0 30px;
}

.banner-description{
    color:#727272;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner img{
    width: 100%;
    margin-top: 50px;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
    gap: 70px;
}

.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}
.teams-title{
    font-size: 2.8rem;
}

.quick-list{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.our{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}

.text-features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.teams-description{
    color:#727272;
    line-height: 26px;
    margin: 25px 0 30px;
}

/* facts style */
.facts{
    margin-top: 130px;
}

.facts-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
}

.some-facts-details{
    color: #727272;
    line-height: 26px;
    max-width: 542px;
    margin: 25px 0 100px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px 30px;
    text-align: center;
}

.facts-card-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    padding: 10px 0;
}

.facts-card-container .card-title{
    color: #727272;
    font-size: 1.4rem;
    font-weight: 600;
}

/* sponsors styles */
.sponsors{
    padding: 180px 0 130px;
}
.sponsors-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.sponsors-details{
    color:#727272;
    line-height: 26px;
    margin: 0 auto;
    max-width: 542px;
    padding: 50px 0 24px;
    text-align: center;
}

.sponsors-image-container{
    display: flex;
    filter: grayscale(100%);
    justify-content: space-around;
    margin-top: 50px;
}

/* footer section styles */
footer{
    padding: 50px 200px;
}
.footer-text{
    border-radius: 8px;
    background: #FFF4E7;
    max-width: 100%;
    padding: 40px 0;
    text-align: center;
}

/* features section */
.features{
    margin-top: 130px;
    display: flex;
    gap: 150px;
}

.section-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-description{
    color:#727272;
    line-height: 26px;
    margin: 30px 0;
}

.features-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 33px;
    margin-bottom: 20px;
}

.features-card-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.card-description{
    color:#727272;
    line-height: 26px;
}

.feature-image{
    position: relative;
}

.ten-years-badge{
    position: absolute;
    left: -92px;
    bottom: -77px;
}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    color: #FFF;
    padding: 40px 45px;
    display: inline-block;
}

.ten-years-badge h2{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 8px;
}

.ten-years-badge p{
    font-size: 25px;
    font-weight: 500;
}

/* mobile responsive */
@media screen and (max-width: 576px) {
    /* header responsive */
    header{
        padding: 50px;
    }

    nav, nav > ul{
        flex-direction: column;
    }

    nav{
        gap: 20px;
    }

    nav > ul{
        gap: 20px;
    }

    .banner-title{
        font-size: 3rem;
    }

    /* teams responsive */
    .teams-container{
        flex-direction: column;
    }

    .teams-image-container{
        grid-template-columns: 1fr;
    }
    
    .teams-content{
        padding: 30px;
    }

    /* facts responsive */
    .facts{
        padding: 20px;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 20px;
    }
    .facts-card-container .card{
        align-self: center;
    }
    .card-4{
        padding: 45px;
    }

    /* sponsors responsive */
    .sponsors-image-container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .sponsors-image-container img{
        max-width: 165px;
    }

    /* footer section styles */
    footer{
        padding: 50px;
    }

    /* features */
    .features{
        flex-direction: column;
        /* align-items: end; */
        padding: 10px;
    }

    
    .feature-image{
        display: flex;
        justify-content: end;
    }
    .feature-image img{
        max-width: 70%;
    }

    .ten-years-badge{
        transform: scale(0.4);
        left: -43px;
        bottom: -86px;
    }
}

/* responsive medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* header responsive */
    header{
        padding: 70px;
    }

    nav{
        flex-direction: column;
        gap: 20px;
    }

    /* teams responsive */
    .teams-container{
        flex-direction: column-reverse;
    }

    .teams-image-container{
        transform: scale(0.8);
    }
    
    .teams-content{
        padding: 30px;
    }

    /* facts responsive */
    .facts{
        padding: 20px;
    }
    .facts-card-container{
        gap: 20px;
        flex-wrap: wrap;
    }
    .facts-card-container .card{
        align-self: center;
    }
    .card-4{
        padding: 45px;
    }

    /* sponsors responsive */
    .sponsors-image-container{
        flex-wrap: wrap;
        width: 100%;
    }
    .sponsors-image-container > img{
        max-width: 30%;
        padding: 10px;
    }

    /* footer section styles */
    footer{
        padding: 50px;
    }

    /* features */
    .features{
        flex-direction: column;
        align-items: end;
        padding: 10px;
    }

    
    .feature-image{
        display: flex;
        justify-content: end;
    }
    .feature-image img{
        max-width: 70%;
    }

    .ten-years-badge{
        transform: scale(0.4);
        left: 41px;
        bottom: -86px;
    }
}